body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50x;
    background-color: #ADD8E6;
}

h1, h2 {
    color: #FFFFFF;
}

input {
    padding: 5px;
    margin: 5px 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2cm;
    display: flex;
    justify-content: content;
    align-items: center;
    border: 2px solid #333;
    cursor: pointer;
    background-color:#000000;
}

button { 
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
}
