body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50x;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2cm;
    display: flex;
    justify-content: content;
    align-items: center;
    border: 2px solid #333;
    cursor: pointer
}
 
.cell.taken { 
    pointer-events: none;
}

#restart { 
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
}
