body {
    text-align: center;
    font-family: Arial;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}